<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!-- CASA  TRAUT-->
    <!--
    <add name="Concesionaria.Properties.Settings.CONCESIONARIAConnectionString"
      connectionString="Data Source=DESKTOP-PICJCLR\SQLEXPRESS;Initial Catalog=TRAUT;Integrated Security=True"
      providerName="System.Data.SqlClient" />
      -->
           
	  <!-- CASA COPIA TRAUT-->
    
    <add name="Concesionaria.Properties.Settings.CONCESIONARIAConnectionString"
      connectionString="Data Source=DESKTOP-PICJCLR\SQLEXPRESS;Initial Catalog=COPIATRAUT;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
      
      
     
     
   <!-- SERVIDOR TRAUT--> 
    <!--
           <add name="Concesionaria.Properties.Settings.CONCESIONARIAConnectionString"
            connectionString="Data Source=SERVIDOR;Initial Catalog=TRAUT;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />  
            -->
            
            
            
            
            
  </connectionStrings>
</configuration>